<!DOCTYPE html>
<html>
    <head>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
        <script type="text/javascript">
        function initialize() {
        var address = (document.getElementById('my-address'));
        var autocomplete = new google.maps.places.Autocomplete(address);
        autocomplete.setTypes(['geocode']);
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }

        var address = '';
        if (place.address_components) {
            address = [
                (place.address_components[0] && place.address_components[0].short_name || ''),
                (place.address_components[1] && place.address_components[1].short_name || ''),
                (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
        }
      });
}
function codeAddress() {
    location.href="results";
    geocoder = new google.maps.Geocoder();
    var address = document.getElementById("my-address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {

       /* app.get("/results",function(req,res){
            var what = "yoyo";
            res.render("list" , {what : what});
            
            });*/

      /*alert("Latitude: "+results[0].geometry.location.lat());
      alert("Longitude: "+results[0].geometry.location.lng());
      return results[0].geometry.location.lng();*/

      } 

      else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }


  function putText() {
        var yo = "hello";
        return yo;
    }

google.maps.event.addDomListener(window, 'load', initialize);

        </script>
    </head>
    <body>
            <form action="/results" method="GET">
        <input type="text" id="my-address" name="loca" value="hello">
        <button id="getCords" onClick="codeAddress();">getLat&Long</button>
            </form>
           
        
            
    </body>
</html>